body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333333;
}

form {
    margin: 20px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
}

legend {
    font-weight: bold;
}

label {
    margin-left: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    color: #28a745;
}

/* Timer Section */
.timer {
    margin-bottom: 20px;
    text-align: center;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

.progress-bar-background {
    background-color: #ddd;
    height: 20px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-bar {
    background-color: #28a745;
    height: 100%;
    width: 100%;
    transition: width 1s;
}
